
<div class="bg">
    <!-- 
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScZSebLWCGiwniWZBiyT_0aoQ16_0tB1vjxA&usqp=CAU" alt="">
    -->
    <button class="btn" onclick="audio.play();">
      <script>
        playAudio()
        {
        let audio = new Audio();
        audio.src = "../assets/sound/2 End Game.mp3";
        audio.load();
        audio.play();
        }
        this.playAudio();
      </script>
    <a routerLink="/tag/All"><b>Click here to Order!</b></a>
    </button>

     
  </div>
  