
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

ul li a{
    height: 15rem;
    width: 15rem;
    border: 1px solid white;
    border-radius: 1rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #1e1a1a;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    padding: 20px;
}
li a:hover{
    opacity: 0.9;
    cursor: pointer;
} 

.content{
    padding: .5rem 1rem;
    position: relative;
}

.price::before{
    content: "PHP ";
    color: rgb(255, 0, 0);
} 
img{
    height: 160px;
        
}
a{
    background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.3);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        background-image: url(../../assets/image/bg1.png);
}
/* .nav{
    margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
        position: fixed;
        height: 100%;
        overflow: auto;
} */
